<!-- Author: Adilson Arbuez -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/estilos.css" />
<title>Estado de resultados</title>
</head>
<body>
<div th:insert="Components::menu"></div>
<br>
<br>
<br>
<div class="container">
<div th:insert="Components::info"></div>
<h1>Estado de resultados</h1>
<form action="/Resultados/detalle" method="get">
<label for="fecha">Desde:&nbsp;</label>
<input type ="date" name="fecha1" id="fecha" th:value="${fecha1}">

<label for="fecha">Hasta:&nbsp;</label>
<input type ="date" name="fecha2" id="fecha" th:value="${fecha2}">

<input type="submit" value="Mostrar" class="opcion">
</form>

<table class="table">
<tr class="headFoot">
<td colspan="2">
<p>persona natural</p>
<p>Estado de resultados</p>
<p>(Expresado en dolares de norteamerica)</p>
</td>
</tr>

<th:block th:if="${empty==false}"></th:block>
<tr th:each="linea: ${estado}">
<td th:text="${linea.clave}">0.0</td>
<td th:text="${linea.valor}">0.0</td>
</tr>
</th:block>

<tr class="headFoot">
<td>
----------<br>
persona natural<br>
DUI:<br>
NIT:
</td>

<td>
----------<br>
Numero contador<br>
n
</td>
</tr>
</table>

</div>
	<script src="/bootstrap/js/jquery-3.4.1.min.js"></script>    
<script src="/bootstrap/js/bootstrap.min.js"></script>
<div th:insert="Components::contact"></div>
</body>
</html>